.card {
	display: inline-block;
	background-color: #1C3D0B
}

.artwork {
		margin-bottom: 25px;
		box-sizing: border-box;
}

.card-image {
	height: 100%;
	width: 100%;
}

.icons {
	margin: 0px 20px;
	background-color: #FFEA0C;
}