.artwork {
	margin: 0;
	display: flex;
	justify-content: center;
	align-items: center;
	/* width: 100%;
	height: 100%; */
}

.card {
	background-color: #1C3D0B;
}

.card-image {
	height: 100%;
	width: 100%;
}

.iconz {
	color: #FFEA0C;
	background-color: #1C3D0B;
	border: #1C3D0B;
}