.artwork {
	margin: 0;
	display: flex;
	justify-content: center;
	align-items: center;
}

.card {
	background-color: #388e3c;
	padding-bottom: 15px;
}

.card-image {
	height: 100%;
	width: 100%;
}

img {
	height: 200px;
}

.iconz {
	color: #FFEA0C;
	background-color: #388e3c;
	border: #388e3c;
}

@media (max-width: 480px) {
	h5 {
		font-size: 20px;
	}

	p {
		font-size: 10px;
	}

	.artwork {
		width: 100%;
	}
}