.modal {
	background: white;
	height: auto;
	left: 50%;
	position: fixed;
	top: 50%;
	transform: translate(-50%, -50%);
	width: 80%;
}

.select {
	font-family: 'Ubuntu', sans-serif;
	margin: 20px;
}

.select-title {
	margin: 30px;
	font-family: 'Ubuntu', sans-serif;
	font-size: 35px;
	text-shadow: 2px 2px #AF2B16;
}

.display-block {
	display: block;
}

.display-none {
	display: none;
}

.preview {
	margin: 50px;
}

#imgPreview {
	height: 300px;
}

input[type="password"] {
	font: small-caption;
	font-size: 16px
}

.modal-label {
	color: green;
	font-size: 18px;
}