h1 {
    text-align: center;
}

h6 {
    font-family: 'Ubuntu', sans-serif;
    font-weight: Bold;
    text-align: center;
    font-size: 40px;
    padding: 5px;
}

p {
    font-family: 'Ubuntu', sans-serif;
    text-align: center;
    padding-left: 10%;
    padding-right: 10%;
}

.info-name {
    height: 50px;
    width: 300px;
    background-color:  #388e3c;
    color: #FFFAF4;
    border: 2px;
    border-radius: 5px;
    margin: auto;
}

.info-about {
    height: auto;
    width: auto;
    background-color:  #388e3c;
    color: #FFFAF4;
    border: 2px;
    border-radius: 5px;
    margin: auto;
    font-size: 20px;
}

.info-contact {
    height: 30px;
    width: 200px;
    background-color:  #388e3c;
    color: #FFFAF4;
    border: 2px;
    border-radius: 5px;
    margin: auto;
    font-size: 20px;
}


.info-email {
    height: 30px;
    width: 300px;
    background-color:  #388e3c;
    color: #FFFAF4;
    border: 2px;
    border-radius: 5px;
    margin: auto;
    font-size: 20px;
}