.form {
	padding: 5%;	
}

.address {
	width: 55%;
	background-color: #008080;
	z-index: 1;
	color: white;
}

.submit {
	background-color: #FFA500;
	width: 100%;
}

.label {
	color: white;
}

.close {
	margin-top: 0;
}