/* .profile {
	background-color: #B4B5A1;
	font-family: 'Cuprum', sans-serif;
	padding: 10px 35px 15px 35px;
	font-size: 17px;
	opacity: .8;
	margin-top: 3%;
	filter: alpha(opacity=50);
} */
	
/* .name {
	font-size: 35px;
	text-align: center;
	margin: 0;
} */

/* .upload-btn-wrapper {
	position: relative;
	overflow: hidden;
	display: inline-block;
	text-align: center;
}

.upload-btn-wrapper input[type=file] {
	font-size: 100px;
	position: absolute;
	left: 0;
	top: 0;
	opacity: 0;
} */

.btn {
	width: 300px;
}

h5 {
	margin-top: 25px;
}

/* .commentBox {
	float: left;
	overflow: auto;
} */

/* #form {
	width: 50%;
	overflow: auto;
	margin: 0 auto;
} */
