.uploadForm {
	background-image: url(./images/paint.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	font-size: 25px;
	opacity: .75;
<<<<<<< HEAD
	filter: alpha(opacity=50);
}

.butn {
	width: 300px;
}


.uploadForm {
	background-image: url(./images/old-time-wall.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	font-size: 25px;
	opacity: .75;
	padding: 20px;
=======
	padding: 3%;
>>>>>>> master
}

.butn{
	width: 100%;
}

.card-frame {
	margin: 0 0 0 20%;
	height: 100%;
	width: 80%;
	border: 3px solid black;
	box-shadow: 2px 7px 7px black;
	background-color: rgb(0,0,0,0.2);
	z-index: 0;
}

.title-upload {
	text-align: center;
	font-size: 25px;
	margin-top: 2%;
	color: green;
	font-weight: bold;
	text-shadow: 2px 2px 5px black;
}

<<<<<<< HEAD
=======
p {
	font-size: 15px;
}

>>>>>>> master
h1 {
	color: white;
}
h5 {
	margin-left: 15%;
}

label {
	color: white;
}


#input_text {
	background: rgb(0, 0, 0, 0.1);
	color: white;
}
#textarea1 {
	background: rgb(0, 0, 0, 0.1);
	color: white;
}
