body {
	background-image: url(img/homepic.jpg);
}

h1 {
	font-family: 'Major Mono Display', monospace;
}

.row-container {
	background-color: #AFAFAC;
	color: black;
	height: auto;
	width: 90%;
	opacity: .8;
	filter: alpha(opacity=50);
	margin: 25px 50px;
	padding: 10px;
}

.row-results {
	/* box-sizing: content-box; */
	/* position: relative; */
	background-color: #AFAFAC;
	color: black;
	height: 750px;
	width: 90%;
	opacity: .8;
	filter: alpha(opacity=50);
	margin: 25px 50px;
	padding: 10px;


}

.noResults{
	padding-bottom: 15px;
}

.search-container {
	background-image: url(./img/homepic.jpg);
	background-repeat: no-repeat;
	background-size: cover;
}