h1 {
	font-family: 'Major Mono Display', monospace;
	color: #B70000;
}

.row-container {
	background-color: #AFAFAC;
	height: 500px;
	width: 90%;
	opacity: .8;
	filter: alpha(opacity=50);
	margin: 25px 50px;
	padding: 10px;
}

.results, .noResults {
	background-color: #AFAFAC;
	color: black;
	height: auto;
	width: 90%;
	opacity: .8;
	filter: alpha(opacity=50);
	margin: 25px 50px;
	padding: 10px;
}

.search-container {
	background-image: url(./img/homepic.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: 'center center';
}