body {
	background-image: url(img/homepic.jpg);
}

h1 {
	font-family: 'Major Mono Display', monospace;
}

.row-container {
	background-color: #AFAFAC;
	color: black;
	height: 400px;
	width: 100%;
	opacity: .8;
	filter: alpha(opacity=50);
}

.row-results {
	background-color: #AFAFAC;
	color: black;
	height:650px;
	width: 100%;
	opacity: .8;
	filter: alpha(opacity=50);
}

.noResults{
	padding-bottom: 15px;
}