.gm-style h1 {
	font-size: 14px;
	font-family: Georgia, 'Times New Roman', Times, serif;
	color: #388e3c;
	text-shadow: none;
}
/* 
.map {
  position: relative;
  top: 0;
  left: 0;
  right: 0;
	bottom: 0;
	width: 100%;
} */