body {
		background-color: grey;
 }


h3 {
	font-family: 'Cuprum', sans-serif;
	background-color: rgb(0,0,0,0.5);
	width: 40%;
	font-size: 20px;
}

label {
	color: white;
}

 .input-field  {
	background-color: #DADADA;
}

.userform {
	background-image: url(./img//wall.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	margin-bottom: 5%;
}
