.landing-background {
    background-image: url(img/landingpic2.jpg);
    width: 400px;
}

h1 {
    font-family: 'Major Mono Display', monospace;
}

.landing {
    color: black;
    height: 450px;
    width: 400px;
    opacity: 0.5;
    filter: alpha(opacity=50);
}