.landing-background {
    background-image: url(img/landingpic2.jpg);
    width: 400px;
}

#alley-art {
    font-family: 'Major Mono Display', monospace;
    color:green;
    text-shadow: 3px 3px #B4B5A1;
}

.landing {
    color: black;
    height: 450px;
    width: 400px;
    opacity: 0.5;
    filter: alpha(opacity=50);
}